{{ knp_pagination_render(po_lines, 'pagination/dboling_pagination.html.twig') }}
<div {{ stimulus_controller('table_widget', {'thead': po_line_thead, 'tdata': po_lines.items}) }}></div>
{# {{ include('purchase_order/po_line_form.html.twig') }} #}